# WORKING WITH LISTS
- A list contains a collection of sequential items.

### The syntax for creating a list
- Syntax for creating a list:

```
[item1, item2, item3, item4, ...]
```

- Collection is surrounded by brackets []
- Each item in the collection can be a int, float, str, bool, or list, etc
- Each item is separated by comma (,)

#### CREATING LISTS

In [1]:
# A list with 7 float items and each item is separated by comma(,)
temps = [32.8, 34.7, 23.9, 14.3, 31.7, 18.3, 19.0]

In [2]:
temps

[32.8, 34.7, 23.9, 14.3, 31.7, 18.3, 19.0]

In [3]:
# a list with 6 str values (items)
stationary_items = ["book", "pencil", "pen", "papers", "erasor", "colors"]
stationary_items

['book', 'pencil', 'pen', 'papers', 'erasor', 'colors']

In [4]:
# a list with 5 items (values): 3 str, 1 int, 1 float
book = ["Attitude", "John C Maxwell", 2002, 199.0, "Wiley"]
book

['Attitude', 'John C Maxwell', 2002, 199.0, 'Wiley']

In [5]:
# an empty list
marks = []
marks

[]

#### Create a list with specific number of default items

In [6]:
# use the repeatition operator (*) to repeat items in a list
# this is a good way to set default values
scores = [0] * 6
scores

[0, 0, 0, 0, 0, 0]

In [7]:
# sets of default values
marks = [100, 60] * 4
marks

[100, 60, 100, 60, 100, 60, 100, 60]

### Referring item in a list
- To refer to the items in a list, we use an index number, where 0 refers to the first item, 1 refers to the second item, 2 refers to the third item, and so on.
- We can use negative numbers for an index where -1 refers to the last time, -2 refers to the second last item, -3 refers to the third last item, and so on.

In [8]:
# emp list with 3 items
emp = ["raju", 35, 44000.0]

In [9]:
emp[0]

'raju'

In [10]:
emp[1]

35

In [11]:
emp[2]

44000.0

In [12]:
emp

['raju', 35, 44000.0]

In [13]:
emp[-1]

44000.0

In [14]:
emp[-2]

35

In [15]:
emp[-3]

'raju'

In [16]:
# emp[3]      # throws an index error

In [17]:
# emp[-4]         # throws an index error

### Objects
- In Python, everything is an object.
- An int, float, str, bool, a list, a tuple, a dict, an array, a set, a file, a node, etc, everything is an object.
- Every object has two aspects: **attributes** and **methods**
- Attributes can be called as characterisitcs, or features
- Methods can also be called as actions or functions.

#### Attributes are variables that store value
- human:
    - age = 35
    - weight = 78
    - height = 168
    - nationality = "Indian
    - ethinicty = "Asian"
    - complexion = "fair"
    - education = "pg"
    - gender = "male"
    - name = "kumar"
- access attributes:
    - human.age     # 35
    - human.name    # kumar
- set attributes:
    - human.age = 45
    - human.name = "Praveen"

#### Methods are functions to work with objects
- human:
    - run()
    - jump()
    - eat()
    - speak()
    - walk()
    - read()
    - write()
    - cook()
- run() method
    - run(speed=10, direction=N, ...)
- read() method
    - read(type=non-fiction, style=serious, speed=10, ...)
- accessing a method:
    - human.method([args])
    - human.eat(food=rice, time=7pm, nutrition=well, amount=600)

In [18]:
# a function: func_name(object)
len("hello world!")

12

In [19]:
# a method: object.method()
a_list = ["Kiran", "Anand", "Naveen", "Bhaskar"]
a_list.reverse()
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran']

### List Methods

In [20]:
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran']

#### 1. The `append(item)` method
- Appends the specified item to the end of the list

In [21]:
a_list.append("Srikanth")
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth']

In [22]:
a_list.append("Rakesh")
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh']

In [23]:
a_list.append("Srinivas")
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

#### 1. The `insert(index, item)` method
- The methods inserts the specified item at the specified index, and moves the existing items from the index to right (means increases their index number).

In [24]:
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [26]:
a_list.insert(0, "Abhinay")
print(a_list)

['Abhinay', 'Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [27]:
a_list.insert(4, "Rakesh")
print(a_list)

['Abhinay', 'Abhinay', 'Bhaskar', 'Naveen', 'Rakesh', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

#### 3. The `remove(item)` method
- Removes the first occurance of specified item

In [28]:
a_list.remove('Rakesh')
print(a_list)

['Abhinay', 'Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [29]:
a_list.insert(5, "Srinivas")
print(a_list)

['Abhinay', 'Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Srinivas', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

#### 4. The `index(item)` method
- Returns the index of the first occurance of the specified item

In [30]:
a_list.index('Srinivas')

5

In [31]:
a_list.index("Abhinay")

0

#### The `pop([index])` method
- This method returns the item and removes it
- This method removes the item at the specified index
- If the index is not specified then it removes the last item

In [33]:
print(a_list)

['Abhinay', 'Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Srinivas', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [34]:
item = a_list.pop()     # removes the last item
print("Deleted item:", item)
print(a_list)

Deleted item: Srinivas
['Abhinay', 'Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Srinivas', 'Kiran', 'Srikanth', 'Rakesh']

In [35]:
item = a_list.pop(3)
print(a_list)

['Abhinay', 'Abhinay', 'Bhaskar', 'Anand', 'Srinivas', 'Kiran', 'Srikanth', 'Rakesh']

#### The `len(object)` function
- This function counts the number of items in a collection, and returns the count number.

In [36]:
len(a_list)

8

#### The `in` keyword for checking whether an item is in the list
- Syntax:

```
item in list
```

- If the *item* is in the *list* it returns True; otherwise False.

In [37]:
products = ["mobile", "laptop", "printer", "projector", "scanner", "webcam"]

In [38]:
"mobile" in products

True

In [39]:
item = "printer"
item in products

True

In [40]:
"ups" in products

False