# WORKING WITH DATE AND TIME VALUES

In [1]:
# The following are not dates, but strings
"25/10/2023"
"10/25/2023"
"2020-10-25"
"2023-25-10"

'2023-25-10'

In [2]:
# The following are not time values, but strings
"10:30:45"
"23:59:59"
"11:30 AM"

'11:30 AM'

## The `datetime` module
- The *datetime* module contains constructs to construct date, time, datetime, and timedelta objects
- The **date** construct helps to construct dates
- The **time** construct helps to construct time values
- The **datetime** construct helps to construct datetime values
- The **timedelta** construct the time duration (period)

In [3]:
# from datetime import date
# from datetime import time
# from datetime import datetime
from datetime import date, time, datetime

### The `date(year, month, day)` returns
- Using the date construct we can create a date object by specifying year, month and day

In [4]:
# The date construct has a function named today(), which returns the current date
today = date.today()
print(today)

2025-12-22

In [5]:
rakesh_bd = date(2004, 5, 25)
srikanth_bd = date(2004, 9, 24)

In [6]:
if rakesh_bd > srikanth_bd:
    print("Rakesh is younger than Srikanth")
else:
    print("Srikanth is younger than Rakesh")

Srikanth is younger than Rakesh

In [7]:
meeting_date = date(2026, 2, 8)
num_days_until_meeting = meeting_date - date.today()
print(num_days_until_meeting)

48 days, 0:00:00

### The `time([hour][, minutes][, seconds][, microseconds])` construct

In [8]:
print(time(8, 30, 45))

08:30:45

In [9]:
print(time(17, 13, 45))

17:13:45

### The `datetime(year, month, day[, hour][, minute][, second][, microsecond])` construct

In [10]:
# use the now() function from datetime construct to get current date and time
now = datetime.now()
print(now)

2025-12-22 16:05:30.382804

In [11]:
vip_meeting = datetime(2026, 1, 12, 8, 30)
vip_meeting

datetime.datetime(2026, 1, 12, 8, 30)

In [12]:
vip_meeting - datetime.now()

datetime.timedelta(days=20, seconds=59069, microseconds=565129)

### The `strptime(datetime_str, format_str)` to format string as date/time/datetime object
- This method is from datetime constructor
- The letter `p` in strptime() method stands for parsing date/time values from a string
- The **datetime_str** is text value that needs to converted
- The **format_str** is format code for formatting *datetime_str*
- The code formats for `format_str`:
    - %d    - day number
    - %m    - month number
    - %Y    - four digit year number
    - %y    - two digit year month
    - %H    - 24-hour format number
    - %I    - 12-hour format number
    - %M    - minute number
    - %S    - seconds number
    - %f    - microsecond number
    - %p    - AM/PM specifier

In [13]:
dt = "2020-10-25"
dt = datetime.strptime(dt, "%Y-%m-%d")
dt

datetime.datetime(2020, 10, 25, 0, 0)

In [15]:
dt = "2023/25/8"
dt = datetime.strptime(dt, "%Y/%d/%m")
dt

datetime.datetime(2023, 8, 25, 0, 0)

In [16]:
dt = "This is year 2018, and month is 3, and day number is 18"
dt = datetime.strptime(dt, "This is year %Y, and month is %m, and day number is %d")
dt

datetime.datetime(2018, 3, 18, 0, 0)

In [17]:
dt = "This 2025, month 7, day 12, at 11 hours, 15 mins and 25 secs we met"
dt = datetime.strptime(dt, "This %Y, month %m, day %d, at %H hours, %M mins and %S secs we met")
dt

datetime.datetime(2025, 7, 12, 11, 15, 25)

In [21]:
dt1 = "2018/14 - 3"
dt1 = datetime.strptime(dt1, "%Y/%d - %m")
dt2 = "11:30 AM on 2020/25 - 9"
dt2 = datetime.strptime(dt2, "%I:%M %p on %Y/%d - %m")
dt3 = "This year on 2025-12-23 at 17:45"
dt3 = datetime.strptime(dt3, "This year on %Y-%m-%d at %H:%M")
dt4 = "Meeting on 2023/5/9 at 08 hours 30 mins 00 secs"
dt4 = datetime.strptime(dt4, "Meeting on %Y/%m/%d at %H hours %M mins %S secs")

#### The `strftime(format_str)` of **datetime** construct
- This method formats the given date/time/datetime value into a string
- The **format_str** codes
    - %a    -> short weekday name (Sun, Mon, Tue, ...)
    - %A    -> full weekday name (Sunday, Monday, Tuesday, ...)
    - %b    -> short month name (Jan, Feb, Mar, ...)
    - %B    -> full month name (January, Febrary, March, ...)
    - %Y    -> four-digit year number
    - %y    -> two-digit year number
    - %m    -> month number
    - %d    -> day number
    - %H    -> Hour number (24-hour format)
    - %I    -> Hour number (12-hour format)
    - %M    -> Minute number
    - %S    -> Seconds number
    - %p    -> AM/PM specifier
    - %f    -> Microseconds

In [22]:
dt = date(2025, 9, 24)
dt.strftime("%b %d, %Y (%a)")

'Sep 24, 2025 (Wed)'

In [23]:
dt = date(2004, 9, 24)
dt.strftime("%B %d, %Y (%A)")

'September 24, 2004 (Friday)'

In [25]:
dt = datetime(2004, 5, 25, 17, 30, 45, 500000)
dt.strftime("%A - %b %d (%Y) Time: %I:%M:%S.%f %p")

'Tuesday - May 25 (2004) Time: 05:30:45.500000 PM'

In [27]:
meeting = datetime(2026, 1, 5, 13, 30)
meeting.strftime("Date: %d %m, %Y Time: %H:%M")

'Date: 05 01, 2026 Time: 13:30'

In [28]:
# 5 examples of date/time/datetime values to be formatted by strftime() method
dt1 = date(2023, 11, 15)
dt2 = time(14, 45, 30)
dt3 = datetime(2024, 2, 20, 9, 15, 0)
dt4 = datetime(2025, 6, 5, 18, 0, 45)
dt5 = date(2022, 1, 1)

## The **timedelta** object
- A timedelta is an object that stores the time span
- A timedelta is a constructor from `datetime` module
- Syntax:

```
timedelta([days][, seconds][, microseconds][, weeks][, hours][, minutes][, milliseconds])
```

- It returns the object containing days, seconds, and microseconds.

In [29]:
from datetime import timedelta

In [32]:
project_duration = timedelta(weeks=12)
start_date = date(2026, 1, 5)
end_date = start_date + project_duration
print(end_date)

2026-03-30

In [36]:
login_time = datetime(2026, 1, 5, 10, 0, 0)
login_duration = timedelta(hours=9, minutes=30)
logout_time = login_time + login_duration
print(logout_time)

2026-01-05 19:30:00

In [38]:
manufacturing_time = timedelta(weeks=40, hours=18)
print(manufacturing_time)

280 days, 18:00:00

In [40]:
special_duration = timedelta(weeks=4, days=6, hours=14, minutes=45, seconds=30, milliseconds=500, microseconds=250)

### Attributes of timedelta object

In [41]:
special_duration

datetime.timedelta(days=34, seconds=53130, microseconds=500250)

In [42]:
# days attribute
special_duration.days

34

In [43]:
# seconds after days
special_duration.seconds

53130

In [44]:
# microseconds attribute after days and seconds
special_duration.microseconds

500250

In [45]:
# The total_seconds() method to get the total duration in seconds
special_duration.total_seconds()

2990730.50025