# WORKING WITH LISTS
- A list contains a collection of sequential items.

### The syntax for creating a list
- Syntax for creating a list:

```
[item1, item2, item3, item4, ...]
```

- Collection is surrounded by brackets []
- Each item in the collection can be a int, float, str, bool, or list, etc
- Each item is separated by comma (,)

#### CREATING LISTS

In [1]:
# A list with 7 float items and each item is separated by comma(,)
temps = [32.8, 34.7, 23.9, 14.3, 31.7, 18.3, 19.0]

In [2]:
temps

[32.8, 34.7, 23.9, 14.3, 31.7, 18.3, 19.0]

In [3]:
# a list with 6 str values (items)
stationary_items = ["book", "pencil", "pen", "papers", "erasor", "colors"]
stationary_items

['book', 'pencil', 'pen', 'papers', 'erasor', 'colors']

In [4]:
# a list with 5 items (values): 3 str, 1 int, 1 float
book = ["Attitude", "John C Maxwell", 2002, 199.0, "Wiley"]
book

['Attitude', 'John C Maxwell', 2002, 199.0, 'Wiley']

In [5]:
# an empty list
marks = []
marks

[]

#### Create a list with specific number of default items

In [6]:
# use the repeatition operator (*) to repeat items in a list
# this is a good way to set default values
scores = [0] * 6
scores

[0, 0, 0, 0, 0, 0]

In [7]:
# sets of default values
marks = [100, 60] * 4
marks

[100, 60, 100, 60, 100, 60, 100, 60]

### Referring item in a list
- To refer to the items in a list, we use an index number, where 0 refers to the first item, 1 refers to the second item, 2 refers to the third item, and so on.
- We can use negative numbers for an index where -1 refers to the last time, -2 refers to the second last item, -3 refers to the third last item, and so on.

In [8]:
# emp list with 3 items
emp = ["raju", 35, 44000.0]

In [9]:
emp[0]

'raju'

In [10]:
emp[1]

35

In [11]:
emp[2]

44000.0

In [12]:
emp

['raju', 35, 44000.0]

In [13]:
emp[-1]

44000.0

In [14]:
emp[-2]

35

In [15]:
emp[-3]

'raju'

In [16]:
# emp[3]      # throws an index error

In [17]:
# emp[-4]         # throws an index error

### Objects
- In Python, everything is an object.
- An int, float, str, bool, a list, a tuple, a dict, an array, a set, a file, a node, etc, everything is an object.
- Every object has two aspects: **attributes** and **methods**
- Attributes can be called as characterisitcs, or features
- Methods can also be called as actions or functions.

#### Attributes are variables that store value
- human:
    - age = 35
    - weight = 78
    - height = 168
    - nationality = "Indian
    - ethinicty = "Asian"
    - complexion = "fair"
    - education = "pg"
    - gender = "male"
    - name = "kumar"
- access attributes:
    - human.age     # 35
    - human.name    # kumar
- set attributes:
    - human.age = 45
    - human.name = "Praveen"

#### Methods are functions to work with objects
- human:
    - run()
    - jump()
    - eat()
    - speak()
    - walk()
    - read()
    - write()
    - cook()
- run() method
    - run(speed=10, direction=N, ...)
- read() method
    - read(type=non-fiction, style=serious, speed=10, ...)
- accessing a method:
    - human.method([args])
    - human.eat(food=rice, time=7pm, nutrition=well, amount=600)

In [18]:
# a function: func_name(object)
len("hello world!")

12

In [19]:
# a method: object.method()
a_list = ["Kiran", "Anand", "Naveen", "Bhaskar"]
a_list.reverse()
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran']

### List Methods

In [20]:
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran']

#### 1. The `append(item)` method
- Appends the specified item to the end of the list

In [21]:
a_list.append("Srikanth")
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth']

In [22]:
a_list.append("Rakesh")
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh']

In [23]:
a_list.append("Srinivas")
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

#### 1. The `insert(index, item)` method
- The methods inserts the specified item at the specified index, and moves the existing items from the index to right (means increases their index number).

In [24]:
a_list

['Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [25]:
a_list.insert(0, "Abhinay")
print(a_list)

['Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [26]:
a_list.insert(4, "Rakesh")
print(a_list)

['Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Rakesh', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

#### 3. The `remove(item)` method
- Removes the first occurance of specified item

In [27]:
a_list.remove('Rakesh')
print(a_list)

['Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srikanth', 'Rakesh', 'Srinivas']

In [28]:
a_list.insert(5, "Srinivas")
print(a_list)

['Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srinivas', 'Srikanth', 'Rakesh', 'Srinivas']

#### 4. The `index(item)` method
- Returns the index of the first occurance of the specified item

In [29]:
a_list.index('Srinivas')

5

In [30]:
a_list.index("Abhinay")

0

#### The `pop([index])` method
- This method returns the item and removes it
- This method removes the item at the specified index
- If the index is not specified then it removes the last item

In [31]:
print(a_list)

['Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srinivas', 'Srikanth', 'Rakesh', 'Srinivas']

In [32]:
item = a_list.pop()     # removes the last item
print("Deleted item:", item)
print(a_list)

Deleted item: Srinivas
['Abhinay', 'Bhaskar', 'Naveen', 'Anand', 'Kiran', 'Srinivas', 'Srikanth', 'Rakesh']

In [33]:
item = a_list.pop(3)
print(a_list)

['Abhinay', 'Bhaskar', 'Naveen', 'Kiran', 'Srinivas', 'Srikanth', 'Rakesh']

#### The `len(object)` function
- This function counts the number of items in a collection, and returns the count number.

In [34]:
len(a_list)

7

#### The `in` keyword for checking whether an item is in the list
- Syntax:

```
item in list
```

- If the *item* is in the *list* it returns True; otherwise False.

In [35]:
products = ["mobile", "laptop", "printer", "projector", "scanner", "webcam"]

In [36]:
"mobile" in products

True

In [37]:
item = "printer"
item in products

True

In [38]:
"ups" in products

False

In [39]:
# add the item if it not there
item = "ups"
if item in products:
    print("The item already exists in the list.")
else:
    products.append(item)
    print(f"The item '{item}' added to the list")

The item 'ups' added to the list

#### Printing the lsit

In [40]:
print(products)

['mobile', 'laptop', 'printer', 'projector', 'scanner', 'webcam', 'ups']

### Mutable and Immutable objects
#### Mutable objects can be changed
- Example: list, dictionary, set
#### Immutable objects cannot be changed
- Example: int, float, str, bool, tuple

##### Updating / Changing an item at a specified index in the list

In [41]:
products

['mobile', 'laptop', 'printer', 'projector', 'scanner', 'webcam', 'ups']

In [42]:
products[4] = "monitor"
print(products)

['mobile', 'laptop', 'printer', 'projector', 'monitor', 'webcam', 'ups']

In [43]:
# an integer is a immutable object
def double_the_value(value):
    value = 2 * value
    return value

value = 25
value2 = double_the_value(value)
print("Value:", value)
print("Value 2:", value2)

Value: 25
Value 2: 50

In [44]:
# a mutable object: list
def add_item(list, item):
    list.append(item)

list = [5, 10, 15, 20]
add_item(list, 100)
print(list)

[5, 10, 15, 20, 100]

### The list of lists
- A list where its items are lists
- This is similar to creating a matrix

In [45]:
# a list of list with 3 rows and 5 columns
students = [
    ["Srinivas", 98, 78, 87, 100],
    ["Srikanth", 99, 89, 74, 100],
    ["Abhinay", 100, 80, 75, 98]
]
print(students)

[['Srinivas', 98, 78, 87, 100], ['Srikanth', 99, 89, 74, 100], ['Abhinay', 100, 80, 75, 98]]

In [46]:
students[0]     # row 1

['Srinivas', 98, 78, 87, 100]

In [47]:
students[1]     # row 2

['Srikanth', 99, 89, 74, 100]

In [48]:
print(students[0][0])
print(students[1][0])
print(students[2][0])

Srinivas
Srikanth
Abhinay

### More Skills with Lists

In [49]:
cities = ["hyd", "amr", "che", "tri", "blr", "mum", "kol", "hyd", "blr", "hyd"]

#### 1. The `count(item)` method
- Counts the occurance of the specified item in the list, and then returns the count number.
- If the item doesn't exist in the list, then it returns zero (0).

In [50]:
cities.count('hyd')

3

In [51]:
cities.count('amr')

1

In [52]:
cities.count("del")

0

#### 2. The `reverse()` method
- This method reverses the order of the item in a list

In [53]:
cities

['hyd', 'amr', 'che', 'tri', 'blr', 'mum', 'kol', 'hyd', 'blr', 'hyd']

In [54]:
cities.reverse()
cities

['hyd', 'blr', 'hyd', 'kol', 'mum', 'blr', 'tri', 'che', 'amr', 'hyd']

#### 3. The `sort([key=function][, reverse=False])` method
- This method sort the items in ascending order by default
- The *key* argument specifies the function to be applied on the items before sorting
- The *reverse* by default set to False, if we set to True then it sorts in descending order

In [55]:
cities = ['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']
cities

['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']

In [56]:
cities.sort()
cities

['Mum', 'Tri', 'amr', 'blr', 'blr', 'che', 'hyd', 'hyd', 'hyd', 'kol']

In [57]:
cities.sort(key=str.upper)          # cities.sort(key=str.lower)
cities

['amr', 'blr', 'blr', 'che', 'hyd', 'hyd', 'hyd', 'kol', 'Mum', 'Tri']

In [58]:
cities.sort(key=str.lower, reverse=True)
cities

['Tri', 'Mum', 'kol', 'hyd', 'hyd', 'hyd', 'che', 'blr', 'blr', 'amr']

#### The built-in `sorted(list[, key=function][, reverse=False])` function
- This method creates a new sorted list based on the specified list

In [59]:
cities = ['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']
cities

['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']

In [60]:
new_cities = sorted(cities, key=str.lower)
print("Old list: ", cities)
print("New list: ", new_cities)

Old list:  ['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']
New list:  ['amr', 'blr', 'blr', 'che', 'hyd', 'hyd', 'hyd', 'kol', 'Mum', 'Tri']

### The `min()` and `max()` built-in function

In [61]:
random_numbers = [10, 85, 44, -12, 7, 65, 29, -90, 77, 109, 23]

In [62]:
min(random_numbers)

-90

In [63]:
max(random_numbers)

109

### The `choice(list)` function from `random` module
- The *choice()* function chooses an item from the list randomly

In [64]:
cities = ['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']
cities

['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']

In [81]:
import random
random.choice(cities)

'hyd'

### The `shuffle(list)` function from the `random` module
- The *shuffle()* function shuffles the items in the list

In [82]:
cities = ['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']
cities

['hyd', 'blr', 'hyd', 'kol', 'Mum', 'blr', 'Tri', 'che', 'amr', 'hyd']

In [102]:
import random
random.shuffle(cities)
cities

['kol', 'hyd', 'hyd', 'Tri', 'amr', 'hyd', 'Mum', 'che', 'blr', 'blr']

### Copying list: shallow copy
- If a list is assigned to a variable, and then you assign the list using the variable to another variable, then both the variables point to the same list. This is called shallow copy.

In [104]:
# shallow copy
m = [1, 2, 3]
n = m           # shallow copy: both m and n refer to the same list

In [105]:
m.append(40)
n

[1, 2, 3, 40]

In [106]:
n.append(50)
m

[1, 2, 3, 40, 50]

### Copying lists: Deep copy
- We can create another copy (duplicate) of a list, which is called deep copy
- To create a deep copy, use the *deepcopy(list)* from *copy* module

In [107]:
import copy
a = [1, 2, 3]
b = copy.deepcopy(a)        # b is the deepcopy of a

In [108]:
a.append(40)
b

[1, 2, 3]

In [109]:
b.append(400)
a

[1, 2, 3, 40]

#### Slicing a list
- Creating a subset of a list
- Syntax:

```
myList[start:end:step]
```

- **Note**: By default, start is 0, step is 1, and end is exclusive

In [110]:
numbers = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

In [111]:
numbers[:]    # all items: don't specify the end

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

In [112]:
numbers[1:]     # all items, excluding first time

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60]

In [113]:
numbers[::2]

[5, 15, 25, 35, 45, 55]

In [114]:
numbers[1::2]

[10, 20, 30, 40, 50, 60]

In [115]:
numbers[::-1]   # reverse items

[60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [116]:
numbers[::3]        # every third item

[5, 20, 35, 50]

### List concatenation
- We can join the list objects using *+* operator

In [118]:
books1 = ["Attitude", "Sales", "Success", "Management"]
books2 = ["Python", "Power BI", "Excel", "Statistics"]
all_books = books1 + books2
print(all_books)

['Attitude', 'Sales', 'Success', 'Management', 'Python', 'Power BI', 'Excel', 'Statistics']